<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Branch Manager</title>
		@Styles.Render("~/Content/css")
		@Styles.Render("~/Scripts/react")
		@Styles.Render("~/Scripts/app")
	</head>
	<body>
		@RenderBody()
		@RenderSection("Scripts", required: false)
	</body>
</html>
